---
#
# 
# osx_image: 10.12 see: https://docs.travis-ci.com/user/osx-ci-environment/#OS-X-Version

os: osx
osx_image: xcode9.2 
language: objective-c
sudo: required

branches:
  only:
    - master

env:
  global:
    - INITIO_TEST=true
    - INITIO_BRANCH=master
  matrix:
    - EXTRA_VARS="endpoint=laptop"
 

before_install:
  # Uninstall existing brew installation.
  - curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall --output brew_uninstall
  - ruby brew_uninstall --force
  - sudo rm -rf /usr/local/Homebrew
  - sudo rm -rf /usr/local/Caskroom
  - sudo rm -rf /usr/local/bin/brew


install: ./.local/share/initio/bootstrap.sh

  
script:
  # Install dependencies.
  - "ansible-galaxy install -r .config/initio/requirements.yml"

  # Check the role/playbook's syntax.
  - "ansible-playbook -i .config/initio/tests/hosts .config/initio/runbook.yml --syntax-check"

  # Test the playbook.
  - |
    travis_wait 30 ansible-playbook \
      -vv \
      --extra-vars $EXTRA_VARS \
      --connection=local \
      --skip-tags=nobuild,prompt,blockblock,home \
      -i .config/initio/tests/hosts \
      .config/initio/runbook.yml


  # Test the playbook's idempotence.
  - idempotence=$(mktemp)
  - |
    ansible-playbook \
      -vv \
      --extra-vars $EXTRA_VARS \
      --connection=local \
      --skip-tags=nobuild,prompt,blockblock,home \
      -i .config/initio/tests/hosts \
      .config/initio/runbook.yml \
      | tee -a ${idempotence}
  - |
    tail ${idempotence} \
    | grep -q '.*failed=0' \
    && (echo 'Idempotence test: pass' && exit 0) \
    || (echo 'Idempotence test: fail' && exit 1)
