---

#
# MacOS
#
- name: Development tools
  block:    
    - homebrew_cask:
        name: "{{item}}"
        state: present
      with_items:
        - gitkraken
        - vagrant
        - vagrant-manager
        - kitematic
    - homebrew_cask: 
        name: "{{item}}"
        state: present
      with_items:
        - wireshark
        - docker  
        - postgres
        - virtualbox
      tags: [blockblock]
    - homebrew_cask:
        name: "{{item}}"
        state: present
      with_items:
        - rubymine
        - pycharm
        - vmware-fusion
      tags: [nobuild]
    - command: mas install {{item}}
      with_items:
        - 497799835 # Xcode
      tags: [nobuild, bigdl]
    - include_role: name=terminal
    - include_role: name=sublime-text
    - include_tasks: macos-prefs.yml
  when: distro.macos
  tags: [development]

#
# Common
#
- pip:
    name: git+https://github.com/larsks/ansible-toolbox
    executable: pip3

#
# Python
#
- pip:
    name: "{{item}}"
    executable: pip3
  with_items:
    - virtualenv
    - virtualenvwrapper

#
# Ruby
#
- gem:
    name: tmuxinator
    state: latest
  environment:
    GEM_HOME: "{{user_home}}/.local/share/gem"

