---

#
# CLI passed configs
# -------------------
# these are better passed via the ansible cli args
#
# computername: ''


#
# Configuration tags
# ------------------ 
# home        - personal configs, secrets, and private repos
# personal
# nobuild     - skip task during automated builds
# prompt      - task raises a user prompt
# blockblock  - task raises a security dialog (macos)
# development - dev tooling
# symlink     - symlink creations
# pamlockout  - might cause fail secure lockouts
#
# ---
# example: $ ansible-playbook --skip-tags "home"


#
# Initio configs
# -----------
initio:
  repo: "https://github.com/jnand/initio.git"

  # location of bootstrap cache files
  tmp: "/tmp/initio"
  bin: "~/.local/lib/initio"

  # playbook alias
  playbooks: "{{playbook_dir}}/playbooks"

  yadm:
    repo: "https://github.com/jnand/yadm.git"

  zim:
    repo: "https://github.com/jnand/zim.git"

  gpg:
    # fingerprint of default key
    default_key: B83550D23D8D862E335EA5A0A63BEFAD44DC80CC

  ssh:
    # deploy key for cloning "secrets" repo
    secrets_key: "path/to/ssh/private/key"
    authorized_keys: https://jnand.keybase.pub/ssh-public.keys

  keepass:
    db_path: "path/to/keepass.kdbx"
    database: "name_of_db.kdbx"


#
# Supported Distro
# ----------------
distros:
  mac:
    - Darwin
    - MacOSX
  debian:
    - Ubuntu
