---

- name: Power management settings
  command: pmset -a {{item.key}} {{item.value}}
  with_dict: "{{power_settings.macos}}"
  become: true

# - name: Ensure ssh remote is off
#   command: systemsetup -setremotelogin off
#   become: true

- name: MacOS Prefs
  include_role: name=macos-prefs

- name: Wipe all (default) app icons from the Dock
  osx_defaults:
    domain: com.apple.dock
    key: persistent-apps
    type: array
    value: []

# see: https://github.com/kcrawford/dockutil
- name: Setup Dock
  command: dockutil --add '/Applications/{{item}}.app'
  with_items:
    - Launchpad
    - Safari
    - Firefox
    - "Google Chrome"
    - Calendar
    # - Todoist
    - Reminders
    - iTerm


#
# Apps
#

- command: mas account
  register: app_store_sigin
  ignore_erros: yes

- pause:
    prompt: Signin to the Apple App Store, then hit return to continue
  when: not (app_store_sigin.stdout | match("@"))
  tags: [nobuild, prompt]

- name: Todoist
  block:
    - command: mas install 585829637
    - command: dockutil --add /Applications/Todoist.app --after 'Calendar'
  tags: [nobuild, home, personal]

- command: mas install {{item}}
  with_items:
    - 1160374471 # PiPifier
  tags: [nobuild, home, personal]

- homebrew_cask:
    name: "{{item}}"
    state: present
  with_items:
    - transmission
    - ubiquiti-unifi-controller
    - backblaze
    - hermes
    - plex-media-player
    - musicbrainz-picard
    - marshallofsound-google-play-music-player
  tags: [home, personal]

- name: Office & productivity
  block:
    - homebrew_cask:
        name: "{{item}}"
        state: present
      with_items:
        - bettertouchtool
        - typora
        - microsoft-office
        - rstudio
        - toggl
  tags: [nobuild]

- name: Samsung SSD Encryption
  block:
    - get_url:
        url: http://downloadcenter.samsung.com/content/SW/201710/20171030152312901/T3_Security_Enabler_for_Mac.pkg
        dest: "{{user_home}}/Downloads/samsung-t3-installer.pkg"
    - command: "installer -pkg {{user_home}}/Downloads/samsung-t3-installer.pkg -target /"
      become: true


# Uses macbuilds launcpad helper script
# see: https://github.com/fgimian/macbuild/blob/master/extras/launchpad.py
# example: ./extras/launchpad.py build host_vars/localhost/launchpad.yaml
- name: Organize launchpad
  shell: ~/.local/lib/initio/launchpad.py build ~/.config/initio/roles/laptop/files/launchpad.yml
  tags: [home, personal]


# see: https://github.com/OJFord/loginitems
# example: $ loginitems-add name path hide
- name: Set login items
  shell: >
    {{initio.bin}}/loginitems-add {{item.name}} /Applications/{{item.name}} {{item.value}}
  with_dict:
    Dropbox: false
    iTerm: false
    BetterTouchTool: false
    Qbserve: false



